@model UsuariosListadoViewModel

@{
    ViewData["Title"] = "Listado de Usuarios";
    Layout = "../Shared/_Layout";
}

<h1>Listado de Usuarios</h1>

@if(Model.Mensaje is not null) {
    <div class="alert alert-success" role="alert">
        @Model.Mensaje
    </div>
}

@if(Model.Usuarios is not null) {
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Acción</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var usuario in Model.Usuarios) {
                    <tr>
                        <td>@usuario.Email</td>
                        <td>
                            <button asp-action="HacerAdmin"
                                    asp-route-email="@usuario.Email"
                                    class="btn btn-success me-2">
                                Privilegios Admin
                            </button>
                            <button asp-action="RemoverAdmin"
                                    asp-route-email="@usuario.Email"
                                    class="btn btn-secondary me-2">
                                Quitar Admin
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
} else {
    <p class="text-danger">No hay usuarios para mostrar.</p>
}