
<label>
    <i class="bi bi-paperclip"></i>
    Archivos Adjuntos
</label>

<button class="btn btn-primary btn-sm" onclick="manejarAgregarArchivo()">
    <i class="bi bi-plus"></i>
</button>

<input type="file" 
       onchange="manejarSeleccionarArchivo(event)"
       id="archivoATarea" 
       style="display: none" multiple />

<div data-bind="foreach: archivosAdjuntos">
    <div>
        <div style="cursor: pointer" 
             class="fw-bold"
             data-bind="text: titulo, 
                        hidden: modoEdicion,
                        click: manejarTituloArchivoAdj">
        </div>
        <div data-bind="visible: modoEdicion, event: { focusout: manejarFocosoutTituloArchivoAdj }">
            <input name="txtArchivoAdjuntoTitulo" 
                   type="text" 
                   class="form-control"
                   data-bind="value: titulo, attr: {'data-id': id}" />
        </div> 
        <div>
            Agregado <span data-bind="text: publicado"></span> -
            <span class="fw-bold" style="cursor: pointer" data-bind="click: manejarBorrarArchivoAdj">Borrar</span> -
            <span class="fw-bold" style="cursor: pointer" data-bind="click: manejarDescargarArchivoAdj">Descargar</span>
        </div>
    </div>
</div>